@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- import stylesheet -->
    <link href="https://cdn.bootcss.com/iview/2.13.0/styles/iview.css" rel="stylesheet">
    <link href="~/Content/Css/whole.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Css/_Layout_Admin.css" rel="stylesheet" />
    @RenderSection("MySection1", required: false)
</head>
<body>
    <div id="app">
        <div class="layout">
            <layout>
                <i-header>
                    <i-menu mode="horizontal" theme="dark" active-name="1">
                        <div class="layout-logo"></div>
                        <div class="sbk_title">
                            <row>
                                <i-col span="16"> <p>网络商城后台管理</p></i-col>
                                <i-col span="1" offset="6">
                                    <avatar style="background-color: #87d068" icon="person" />
                                </i-col>
                                <i-col span="1">
                                    <dropdown>
                                        <a href="javascript:void(0)">
                                            小李
                                            <icon type="arrow-down-b"></icon>
                                        </a>
                                        <dropdown-menu slot="list">
                                            <dropdown-item>注销</dropdown-item>
                                        </dropdown-menu>
                                    </dropdown>
                                </i-col>
                            </row>
                        </div>
                    </i-menu>
                </i-header>
                <layout>
                    <sider hide-trigger :style="{background: '#fff'}">
                        <i-menu active-name="1-2" theme="light" width="auto" :open-names="['1']">
                            <submenu name="1">
                                <template slot="title">
                                    <icon type="ios-people"></icon>
                                    管理员一览
                                </template>
                                <menu-item name="1-1">管理人员</menu-item>
                            </submenu>
                            <submenu name="2">
                                <template slot="title">
                                    <icon type="ios-people-outline"></icon>
                                    客户一览
                                </template>
                                <menu-item name="2-1">查询客户</menu-item>
                            </submenu>
                            <submenu name="3">
                                <template slot="title">
                                    <icon type="android-bar"></icon>
                                    商品管理
                                </template>
                                <menu-item name="3-1">上架商品</menu-item>
                                <menu-item name="3-2">修改商品</menu-item>
                                <menu-item name="3-3">查询商品</menu-item>
                                <menu-item name="3-4">下架商品</menu-item>
                            </submenu>
                            <submenu name="4">
                                <template slot="title">
                                    <icon type="cloud"></icon>
                                    售卖管理
                                </template>
                                <menu-item name="4-1">售卖记录</menu-item>
                                <menu-item name="4-2">每天销售额</menu-item>
                            </submenu>
                        </i-menu>
                    </sider>
                    <layout :style="{padding: '0 24px 24px'}">
                        <breadcrumb :style="{margin: '24px 0'}">
                            <breadcrumb-item>AHome</breadcrumb-item>
                            <breadcrumb-item>Index</breadcrumb-item>
                        </breadcrumb>
                        <i-content :style="{padding: '24px', minHeight: '718px', background: '#fff'}">
                            @RenderBody()
                        </i-content>
                        <i-footer class="layout-footer-center">2018 &copy; ZhuangYuan</i-footer>
                    </layout>
                </layout>
            </layout>
        </div>
    </div>
    <!-- import Vue.js -->
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <!-- import iView -->
    <script src="https://cdn.bootcss.com/iview/2.13.0/iview.min.js"></script>
    <script src="~/Scripts/Js/whole.js"></script>
    @RenderSection("MySection2", required: false)
    <script>
        new Vue({
            el: '#app'
        })
    </script>
</body>
</html>
